@import "../resources/components/cuadro/Cuadro.scss";
@import "../resources/components/tablero/Tablero.scss";
@import "../resources/components/pieza/Pieza.scss";
@import "../resources/components/selectList/SelectList.scss";
@import "../pages/game/Game.scss";
body,
html,
#root,
.App {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
