@import "../resources/components/cuadro/Cuadro.scss";
@import "../resources/components/tablero/Tablero.scss";
@import "../resources/components/pieza/Pieza.scss";
@import "../resources/components/selectList/SelectList.scss";
@import "../pages/game/Game.scss";
@import "../resources/components/timer/Timer.scss";
@import "../resources/components/playarea/PlayArea.scss";
@import "../resources/components/popup/Popup.scss";
@import "../resources/components/dice-box/DiceBox.scss";
@import "../resources/components/player-box/PlayerBox.scss";
body,
html,
#root,
.App {
  width: 100%;
  height: 100%;
  font-family: Grenze Gotisch;
}

* {
  box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
