.timer {
  &__container {
    &--base {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 30%;
      align-content: center;
      justify-items: flex-start;
      font-size: 3rem;
      border-bottom: solid 2px rgba(70, 70, 70, 1);
    }
  }

  &__display {
    &--base {
      width: 20%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  &__player {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    padding: 0 4rem;

    &--2 {
      width: 60%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      color: #b43b3b;
      padding: 0 4rem;
    }

    &--1 {
      width: 60%;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      color: #30498f;
      padding: 0 4rem;
    }
  }

  &__button {
    width: 20%;
    height: 100%;
    display: flex;
    align-content: center;
    color: rgba(70, 70, 70, 1);
    justify-content: center;
    padding-top: 1%;
    &:hover {
      background-color: rgb(168, 168, 168);
    }
  }
}
