.game {
  &__container {
    &--base {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 60% 40%;
      grid-template-areas:
        "board bar"
        "help help";
    }
  }

  &__player-bar {
    grid-area: bar;
    &--base {
      width: 100%;
      border: 10px solid #696969;
      background-color: #9c9b9b;
    }
  }

  &__board-holder {
    grid-area: board;
    &--base {
      border: 10px solid #313131;

      width: 100%;
      height: 100%;
    }
  }

  &__help-bar {
    grid-area: help;
    &--base {
      border: 10px solid #696969;
      background-color: #9c9b9b;
    }
  }

  &__pause-overlay {
    &--base {
      width: 100%;
      height: 100%;
      font-size: 4rem;
      background-color: #000000;
      color: #ffffff;
      display: flex;
      align-content: center;
      justify-content: center;
      padding-top: 15%;
    }
  }
}
