.cuadro__border--base {
  width: 100%;
  height: 100%; }

.cuadro__container--base {
  width: 100%;
  height: 100%; }

.cuadro__content--base {
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9r0Shd-_aPCSL3HTPY3jUX-ixj1QcPtC1UQ&usqp=CAU");
  color: #ffffff; }

.cuadro__content--selected {
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9r0Shd-_aPCSL3HTPY3jUX-ixj1QcPtC1UQ&usqp=CAU");
  border: 1px solid #0099ff; }
  .cuadro__content--selected2 {
    width: 100%;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9r0Shd-_aPCSL3HTPY3jUX-ixj1QcPtC1UQ&usqp=CAU");
    border: 1px solid #f84242; }

.cuadro__terreno {
  width: 100%;
  height: 100%; }
  .cuadro__terreno :hover {
    border: 1px solid #ffffff; }
  .cuadro__terreno--taken1 {
    background: rgba(233, 6, 6, 0.39); }
  .cuadro__terreno--taken2 {
    background: rgba(14, 108, 216, 0.397); }
  .cuadro__terreno--unusable {
    z-index: 1;
    background-image: url("../resources/img/wall2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .cuadro__terreno--unusable :hover {
      border: 1px solid #ac0000; }

.cuadro__vacio--base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.cuadro__vacio--selected {
  width: 100%;
  height: 100%;
  border: 10% solid red; }

.tablero__container--base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.tablero__fila--base {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 4.6%; }

.pieza__container--base {
  width: 100%;
  height: 100%; }

.pieza__image--base {
  width: 100%;
  height: 100%; }

.pieza__image--arch {
  width: 100%;
  height: 100%;
  background-image: url("../resources/img/icons/if-sorceress-2913112_88826.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.pieza__image--tank {
  width: 100%;
  height: 100%;
  background-image: url("../resources/img/icons/if-knight-2913116_88807.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.pieza__image--inf {
  width: 100%;
  height: 100%;
  background-image: url("../resources/img/icons/if-viking-2913107_88821.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.pieza__image--castle {
  width: 100%;
  height: 100%;
  background-image: url("../resources/img/icons/if-castle-2913096_88809.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.select__list-container--base {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: flex-start; }

.select__item--base {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  padding: 10% 0%; }
  .select__item--base:hover {
    background-color: #a8a8a8; }

.select__item-image {
  width: 40%;
  height: 100%; }
  .select__item-image--arch {
    background-image: url("../resources/img/icons/if-sorceress-2913112_88826.ico");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .select__item-image--tank {
    background-image: url("../resources/img/icons/if-knight-2913116_88807.ico");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .select__item-image--inf {
    background-image: url("../resources/img/icons/if-viking-2913107_88821.ico");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.select__item-text--base {
  width: 60%; }

.game__container--base {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "board bar" "help help"; }

.game__player-bar {
  grid-area: bar; }
  .game__player-bar--base {
    width: 100%;
    border: 10px solid #696969;
    background-color: #9c9b9b; }

.game__board-holder {
  grid-area: board; }
  .game__board-holder--base {
    border: 10px solid #313131;
    width: 100%;
    height: 100%; }

.game__help-bar {
  grid-area: help; }
  .game__help-bar--base {
    border: 10px solid #696969;
    background-color: #9c9b9b; }

.game__pause-overlay--base {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  background-color: #0000009b;
  color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 15%; }

.timer__container--base {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  align-content: center;
  justify-items: flex-start;
  font-size: 3rem;
  padding-top: 1%; }

.timer__display--base {
  width: 20%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center; }

.timer__player {
  width: 60%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  padding: 0 4rem; }
  .timer__player--2 {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #b43b3b;
    padding: 0 4rem; }
  .timer__player--1 {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #30498f;
    padding: 0 4rem; }

.timer__button {
  width: 20%;
  height: 100%;
  padding-top: 1%;
  display: flex;
  align-content: center;
  color: #464646;
  justify-content: center; }
  .timer__button:hover {
    background-color: #a8a8a8; }

body,
html,
#root,
.App {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }
