.select {
  &__list-container {
    &--base {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-items: flex-start;
    }
  }

  &__item {
    &--basic {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-items: flex-start;
      width: 100%;
      padding: 10% 0%;
      &:hover {
        background-color: antiquewhite;
      }
    }
    &-image {
      width: 40%;
      height: 100%;
      &--base {
      }

      &--arch {
        background-image: url("../resources/img/icons/if-sorceress-2913112_88826.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &--tank {
        background-image: url("../resources/img/icons/if-knight-2913116_88807.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &--inf {
        background-image: url("../resources/img/icons/if-viking-2913107_88821.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &-text {
      &--base {
        width: 60%;
      }
    }
  }
}
