.select {
  &__list-container {
    &--base {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-items: flex-start;
    }
  }

  &__item {
    &--base {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-items: flex-start;
      width: 100%;
      height: 25%;
      padding: 5% 0%;
      border-bottom: solid #696969 1px;
      &:hover {
        background-color: rgb(168, 168, 168);
      }
    }
    &-image {
      width: 40%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &--base {
      }

      &--arch {
        background-image: url("../resources/img/icons/if-sorceress-2913112_88826.ico");
      }

      &--tank {
        background-image: url("../resources/img/icons/if-knight-2913116_88807.ico");
      }

      &--inf {
        background-image: url("../resources/img/icons/if-viking-2913107_88821.ico");
      }

      &--T {
        background-image: url("../resources/img/Figura-T1.png");
        &2 {
          background-image: url("../resources/img/Figura-T2.png");
        }

        &3 {
          background-image: url("../resources/img/Figura-T3.png");
        }

        &4 {
          background-image: url("../resources/img/Figura-T4.png");
        }
      }

      &--Z {
        background-image: url("../resources/img/Figura-Z1.png");

        &2 {
          background-image: url("../resources/img/Figura-Z2.png");
        }

        &3 {
          background-image: url("../resources/img/Figura-Z3.png");
        }

        &4 {
          background-image: url("../resources/img/Figura-Z4.png");
        }
      }

      &--U {
        background-image: url("../resources/img/Figura-C1.png");
        &2 {
          background-image: url("../resources/img/Figura-C2.png");
        }

        &3 {
          background-image: url("../resources/img/Figura-U.png");
        }

        &4 {
          background-image: url("../resources/img/Figura-U.png");
        }
      }

      &--P {
        background-image: url("../resources/img/Figura-P1.png");

        &2 {
          background-image: url("../resources/img/Figura-P2.png");
        }

        &3 {
          background-image: url("../resources/img/Figura-P3.png");
        }

        &4 {
          background-image: url("../resources/img/Figura-P4.png");
        }
      }

      &--L {
        background-image: url("../resources/img/Figura-L1.png");

        &2 {
          background-image: url("../resources/img/Figura-L2.png");
        }

        &3 {
          background-image: url("../resources/img/Figura-L3.png");
        }

        &4 {
          background-image: url("../resources/img/Figura-L4.png");
        }
      }
    }
    &-text {
      &--base {
        width: 60%;
        color: #ffffff;
        font-size: 1.5rem;
        padding-top: 1%;
      }
    }
  }
}
